CREATE TABLE `empleado_header` (
  `id_emp` int(11) NOT NULL,
  `id_persona` int(11) NOT NULL,
  `cod_empresa` int(11) NOT NULL,
  `cod_departamento` int(11) NOT NULL,
  `cod_cargo` int(11) NOT NULL,
  `txt_nombre` varchar(50) NOT NULL,
  `txt_apellido` varchar(50) NOT NULL,
  `fec_ingreso` date NOT NULL,
  `fec_salida` date DEFAULT NULL,
  PRIMARY KEY (`id_emp`),
  UNIQUE KEY `emp_id` (`id_emp`),
  KEY `cod_empresa` (`cod_empresa`),
  KEY `cod_departamento` (`cod_departamento`),
  KEY `cod_cargo` (`cod_cargo`),
  KEY `id_persona` (`id_persona`),
  CONSTRAINT `empleado_header_fk1` FOREIGN KEY (`cod_empresa`) REFERENCES `departamentos` (`cod_empresa`),
  CONSTRAINT `empleado_header_fk2` FOREIGN KEY (`cod_departamento`) REFERENCES `departamentos` (`cod_departamento`),
  CONSTRAINT `empleado_header_fk3` FOREIGN KEY (`cod_cargo`) REFERENCES `cargos` (`cod_cargo`),
  CONSTRAINT `empleado_header_fk4` FOREIGN KEY (`id_persona`) REFERENCES `personas` (`id_persona`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 PACK_KEYS=0;
